* {
	box-sizing: border-box;
	/*max-width: 1600px;*/
}

main {
	display: flex;
	width: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 60%;
}

.content-wrapper h2 {
	font-size: 2.5em;
	margin: 0;
	color: #FFF;
}

.content-wrapper h4 {
	margin: 5px 0;
}

#intro {
	flex: 2 0 66.66666%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
	min-height: 150px;
	min-width: 150px;
}

#intro button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	width: 60%;
	background-color: transparent;
	margin-right: 10px;
	padding: 5px 10px;
	border: 2px solid #FFF;
	color: #FFF;
}

#intro button:hover {
	background-color: #242331;
	border: 2px solid #40dd74;
	color: #40dd74;
}

#intro h4 {
	margin-left: 5px;
}

#intro svg {
	margin-bottom: 5px;
}

.buttons {
	display: flex;
	width: 60%;
}



article a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
}

.svg-color {
	fill: #FFF;
}

button:hover .svg-color {
	fill: #40dd74;
}

.box {
	flex: 1 0 33.333333%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 150px;
	min-width: 150px;
}

.box:hover {
	background-color: #000;
	color: #FFF;
}

.box h4 {
	margin: auto;
}

.box1 {
	background-color: #24242A;
}

.box2,
.box6 {
	background-color: #203423;
}

.box3 {
	background-color: #4A4039;
}

.box4,
#intro {
	background-color: #8B745A;
}

.box5,
.box7 {
	background-color: #D4C17E;
}

.photo-slider {
	width: 40%;
	min-width: 250px;
	height: 100vh;
	background: url(../images/tiger-drinking.jpg) no-repeat;
	background-size: cover;
}

.arrows {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	margin: 0 auto;
	padding: 0 10px;
}

.chevron {
	width: 30px;
}

.elipsis {
	position: absolute;
	margin-right: 2%;
  margin-left: 35%;
}

.elipsis img {
	width: 50px;
}


@media screen and (max-width: 1080px) {

	main {
		flex-direction: column;
		flex-flow: column-reverse;
	}

	.content-wrapper {
		height: 70vh;
		width: 100%;
	}

	.photo-slider {
		height: 30vh;
		width: 100%;
		background: url(../images/tiger-close.png) no-repeat;
		background-size: cover;
		background-position: center;
		background-color: #FFF;
	}

	.elipsis {
		margin-right: 2%;
	  margin-left: 91%;
	}

	.arrows {
		height: 30vh;
		padding: 0 5px;
	}
}

@media screen and (max-width: 600px) {

	.content-wrapper {
		height: 80vh;
	}

	.content-wrapper h2 {
		font-size: 1.5em;
	}

	.box {
		flex: 1 0 50%;
		min-height: 150px;
		min-width: 150px;
	}

	.box7 {
		background-color: #8B745A;
	}

	.arrows {
		height: 20vh;
	}

	.chevron {
		width: 20px;
	}

	.elipsis {
		margin-right: 5%;
	  margin-left: 90%;
	}

	.elipsis img {
		width: 30px;
		/*margin-left: 90%;*/
	}

	.photo-slider {
		height: 20vh;
	}
}
