* {
	box-sizing: border-box;
	/*max-width: 900px;*/
}

main {
	display: flex;
	width: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 60%;
}

/*.content-wrapper h2 {
	font-size: 1.8em;
}*/

.content-wrapper h4 {
	margin: 5px 0;
}

#intro {
	flex: 2 0 66.66666%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	min-height: 150px;
	min-width: 150px;
}

#intro button {
	box-sizing: border-box;
	background-color: transparent;
	border: 2px solid #FFF;
	color: #FFF;
}

#intro button:hover {
	background-color: #242331;
}

#intro img {
	width: 20px;
}

article a {
	padding-top: 20px;
	text-decoration: none;
	color: white;
}

.box {
	flex: 1 0 33.333333%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*text-align: center;*/
	min-height: 150px;
	min-width: 150px;
	/*padding-top: 60px;*/
	background-color: #EDC42F;
}

#intro:hover,
.box:hover {
	background-color: #000;
	color: #FFF;
}

.box h4 {
	margin: auto;
}

.box1 {
	background-color: #24242A;
}

.box2,
.box6 {
	background-color: #203423;
}

.box3 {
	background-color: #4A4039;
}

.box4,
#intro {
	background-color: #8B745A;
}

.box5,
.box7 {
	background-color: #D4C17E;
}

/*.box1:hover,
.box2:hover,
.box6:hover,
.box3:hover,
.box4:hover,
#intro:hover,
.box5:hover,
.box7:hover {

}*/


.photo-slider {
	width: 40%;
	min-width: 250px;
	height: 100vh;
	background: url(../images/tiger-drinking.jpg) no-repeat;
	background-size: cover;
}

.arrows {
	display: flex;
	justify-content: space-between;
	width: 96%;
	height: 100vh;
	margin: 0 auto;
}

.chevron {
	width: 30px;
}

.elipsis {
	float: right;
	padding-right: 15px;
}

.elipsis img {
	width: 50px;
}


@media screen and (max-width: 800px) {

	main {
		flex-direction: column;
		flex-flow: column-reverse;
	}

	.content-wrapper {
		width: 100%;
	}

	.photo-slider {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

	.content-wrapper h2 {
		font-size: 1.5em;
	}

	.box {
		flex: 1 0 50%;
		min-height: 150px;
		min-width: 150px;
		padding-top: 30px;
	}
}
