* {
	box-sizing: border-box;
	/*max-width: 900px;*/
}

main {
	display: flex;
	width: 100%;
}

.content-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 60%;
}

#intro {
	flex: 2 0 66.66666%;
	min-height: 150px;
	min-width: 150px;
	padding: 20px;
	background-color: #000;
}

article a {
	padding-top: 20px;
	text-decoration: none;
	color: white;
}

.box {
	flex: 1 0 33.333333%;
	text-align: center;
	min-height: 150px;
	min-width: 150px;
	padding-top: 60px;
	background-color: #EDC42F;
}

.box h4 {
	margin: auto;
}

.box1 {
	background-color: #242331;
}

.box2,
.box6 {
	background-color: #123D18;
}

.box3 {
	background-color: #533E2D;
}

.box4,
#intro {
	background-color: #A27035;
}

.box5,
.box7 {
	background-color: #EDC42F;
}

.photo-slider {
	width: 40%;
	min-width: 250px;
	background: url(../images/profile-photo.jpg) no-repeat;
	background-size: cover;
}
